<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>GreenStock - Usuários</title>
    <meta name="description" content="Tela de custos do sistema GreenStock">
    <link rel="stylesheet" href="../../static/style-custos.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="cus-container">

        <header class="top-nav-bar">
            <img src="/Tela de Custos/img/icone.png" alt="Logo GreenStock" class="nav-logo" />
            
            <nav class="nav-links">
                <a href="/Tela de Usuário/user.html" class="nav-button">USUÁRIOS</a>
                <a href="/Tela de Produtos/prod.html" class="nav-button">PRODUTOS</a>
                <a href="/Tela de Fornecedores/forn.html" class="nav-button">FORNECEDORES</a>
                <a href="/Tela de Entradas/ent.html" class="nav-button">ENTRADAS</a>
                <a href="/Tela de Saídas/sai.html" class="nav-button">SAÍDAS</a>
                <a href="#" class="nav-button nav-active">CUSTOS</a>
            </nav>
            <a class="sair-btn" href="/Tela de Login/index.html">
                 <img src="img/saida.png" alt="Sair" class="sair-img">
            </a>
        </header>
        
        <main class="main-content">

            <section class="cus-list-panel">
                <h2>Informações de Custos</h2>
                
                <div class="search-box">
                    <img src="/Tela de Custos/img/lupa.png" alt="Ícone de Procura" class="search-icon" />
                    <input type="text" placeholder="Procurar" class="search-input">
                </div>

                <div class="cus-table-container">
                    <div class="table-header">
                        <span class="col-nome">ID Transação</span>
                        <span class="col-nome">ID Produto</span>
                        <span class="col-nome">ID Fornecedor</span>
                        <span class="col-nome">Produto</span>
                        <span class="col-valor">Custo R$</span>
                        <span class="col-valor">Venda R$</span>
                        <span class="col-valor">Lucro</span>
                        <span class="col-valor">Data Registro</span>
                    </div>
                    <div class="table-row">
                        </div>
                    
                </div>
            </section>

        </main>

        <a href="#" class="help-button" title="Precisa de ajuda?">
        !
         </a>
    </div>
</body>
</html>