<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>GreenStock - Login</title>
    <meta name="description" content="Página de login do sistema GreenStock">
    <link rel="stylesheet" href="../../static/style_login.css">
</head>
<body>
    <div class="background-gradient">
        <div class="image-wrapper">
            <img src="img/icone.png" alt="Logo GreenStock" class="top-image">
        </div>
        
        <div class="login-container">
            <div class="login-box">
                <h1 class="logo">
                    <span class="logo-green">Green</span>
                    <span class="logo-stock">Stock</span>
                </h1>

                <form class="login-form" action="/Tela de Usuário/user.html" method="GET">
                    <label for="username" class="input-label">Usuário</label>
                    <input type="text" id="username" name="username" class="login-input" placeholder="Digite o usuário...">

                    <label for="password" class="input-label">Senha</label>
                    <input type="password" id="password" name="password" class="login-input" placeholder="Digite a senha...">
                    
                    <button type="submit" class="login-button">LogIn</button>
                </form>
            </div>
        </div>

        <a href="#" class="help-button" title="Precisa de ajuda?">
        !
         </a>
    </div>

    
</body>
</html>